
body {text-align: center; color: #F2F3F4; background-color: #283747;
      font-family:"Calibri";}

#cabecalho {margin: auto; margin-top: 2%; text-align: center;
			color: yellow; background-color: #1F618D;
			width: 90%; border-radius: 10px;
	        padding: 5px;}

#form {margin: auto; margin-top: 1%; text-align: center;
	        background-color: #1F618D; width: 90%; border-radius: 10px;
	        padding: 20px;}

label {color: #EEEEEE;}
input {border-radius: 6px; text-align: center;}

#from {background-color: #A9A9A9; width: 200px; text-align: center;}

#to {width: 200px; text-align: center}

#labelMsg {font-size: 16pt; color: #CCCCCC;}

#msg {border-radius: 6px; width: 300px;}

#wrapperMsg {
  overflow: auto;
  border-radius: 10px;
  border: 2px solid gray;
  margin-left: auto; margin-right: auto;
  width: 350px;
  margin-top: 10px; margin-bottom: 10px;
}

#wrapperCarregarArquivo {
  overflow: auto;
  border-radius: 10px;
  border: 2px solid gray;
  margin-left: auto; margin-right: auto;
  min-width: 30%; max-width: 60%;
  margin-top: 10px; margin-bottom: 10px;
  padding-top: 20px;
}

#resposta { margin: auto; margin-top: 30px; max-width: 80%; min-width: 40%; text-align: center;}

#idtelefones {color: white; margin-left: auto; margin-right: auto;
              margin-top: 10px; margin-bottom: 10px;
              /*border: 1px solid gray;*/
              }

#wrapperTelefones {
  overflow: auto;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: #191970;
  margin-left: auto; margin-right: auto;
  margin-top: 10px; margin-bottom: 10px;
  width: 300px;
}

.tdlabel {text-align: right;}

#idtelefones td {padding: 5px; border:none;}

a {color: #85C1E9; text-decoration:none}
a:hover {color: yellow; /* background-color: yellow; */}

/*#btnFileUpload {width: 600px;}*/
/*::file-selector-button{
	  background: gray;
  color: black;
  margin-left: 0px;
  width: 200px;
  border-radius: 6px;
}*/
 	::-webkit-file-upload-button {
  background: gray;
  color: black;
  margin-left: 0px;
  width: 200px;
  border-radius: 6px;
}

/* Definição da Tabela que Mostra os Resultados */
#tabelaresultados {color: white; border: 1px solid gray; max-width: 80%; min-width: 40%;
				   margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px; }
th, td{border-bottom: 1px solid gray; border-top: 1px solid gray; border-collapse: collapse;}
th {background-color: #000050; color: #A9A9A9;}
td {background-color: #191970; color: #CCCCCC; padding: 1px 10px;}
.tdnome {text-align: left; padding: 0px 10px;}

#upload-button {margin: 10px;}

#textoexplicativo {margin-bottom: 20px;}



